<div ng-show="programs">   

    <h2 >Programs and Modules <span ng-show="projectinfo.version" title="This is the project version specified in the project information."> - {{projectinfo.version}}</span> </h2>
    <div class="iledocs-modules">
        <a class="btn btn-secondary iledocs-module-button" ng-repeat="program in programs | orderBy" href="{{project}}/{{program}}">{{program}}</a>
    </div>
</div>
