<div ng-controller="ProjectController as projectController">

    <!-- modules in this project-->
    <div ng-include="'components/programs.html'" />

    <div ng-show="projectinfo">
        <div class="iledocs-content">

            <h3 ng-hide="projectinfo.title" id="details">Project Information</h3>
            <h3 ng-show="projectinfo.title" id="details">{{projectinfo.title}}</h3>
            <div class="iledocs-module-subcontent" ng-show="projectinfo.description" ng-bind-html="projectinfo.description | unsafe">
            </div>

            <div ng-show="projectinfo.author">
                <h4>Author</h4>
                <p class="iledocs-module-subcontent">{{projectinfo.author}}</p>
            </div>

            <div ng-show="projectinfo.date">
                <h4>Date</h4>
                <p class="iledocs-module-subcontent">{{projectinfo.date}}</p>
            </div>

            <div ng-show="projectinfo.links && projectinfo.links.length > 0">
                <h4>Links</h4>
                <div class="iledocs-module-subcontent">
                    <div ng-repeat="link in projectinfo.links">
                        <a href="{{link.url}}">{{link.title ? link.title : link.url}}</a>
                    </div>
                </div>
            </div>

            <div ng-show="projectinfo.infos && projectinfo.infos.length > 0">
                <h4>Info</h4>
                <div class="alert alert-info iledocs-module-subcontent" role="alert" ng-repeat="info in projectinfo.infos" ng-bind-html="info | unsafe">
                </div>
            </div>    

            <div ng-show="projectinfo.warnings && projectinfo.warnings.length > 0">
                <h4>Warning</h4>
                <div class="alert alert-warning iledocs-module-subcontent" role="alert" ng-repeat="warning in projectinfo.warnings" ng-bind-html="warning | unsafe">
                </div>
            </div>

            <div ng-show="projectinfo.deprecated">
                <h4>Deprecated</h4>
                <div class="alert alert-danger iledocs-module-subcontent" role="alert" ng-bind-html="projectinfo.deprecated | unsafe">
                </div>
            </div>

            <div ng-show="projectinfo.revisions && projectinfo.revisions.length > 0">
                <h4>Changes</h4>
                <div class="iledocs-module-subcontent">
                    <p ng-repeat="revision in projectinfo.revisions">
                        <span ng-show="revision.date">{{revision.date}}</span>
                        <span ng-if="revision.author && revision.date">&mdash;</span>
                        <span ng-show="revision.author">{{revision.author}}</span>
                        <br/>
                        <span ng-show="revision.description" ng-bind-html="revision.description | unsafe"></span>
                    </p>
                </div>
            </div>

        </div>
    </div>

</div>