<div>   
    <h2 >Projects</h2>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="project in projects | orderBy" class="list-group-item">
            <a href="{{project}}">{{project}}</a>
        </li>
    </ul>
</div>