/* app css stylesheet */

body {
    
}

h5 {
    font-weight: bold;
}

a, a:hover {
    color: #00008B;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.center {
    text-align:  center;
}

.initial-content {
    margin-top: 50px;
}

.iledocs-content {
    margin-top: 25px;
}

.iledocs-module-subcontent {
    margin-left: 25px;
    margin-bottom: 25px;
}

.iledocs-module-button {
    margin: 5px;
}

.iledocs-up {
    position: fixed; 
    bottom: 15px; 
    left: 15px;
    height: 48px;
    width: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 28px;
}

.iledocs-up:hover {
    position: fixed; 
    bottom: 12px; 
    left: 12px;
    height: 54px;
    width: 54px;
    line-height: 54px;
    text-align: center;
    font-size: 32px;
}

#labelSearchInputField {
    color: white;
    font-size: 150%;
    margin-right: 15px;
}

#searchResultDialog #labelSearchResultDialogInputField {
    font-size: 115%;
    margin-right: 15px;
}

.modal-dialog {
    overflow-x: initial !important;
    max-width: 700px;
}

.modal-body {
    height: 400px;
    overflow-x: auto;
    margin-bottom: 15px;
}