<div ng-controller="ContentController as contentController">
    
    <!-- modules in this project-->
    <div ng-include="'components/programs.html'" />

    <br/>

    <!-- module content -->
    <div ng-show="program">
        <div class="center">
            <h2>{{program.title}}</h2>
            <h4>{{program.source}} <span ng-show="program.version" title="This is the module version specified in the source."> - {{program.version}}</span></h4>
        </div>

        <br/>

        <div>
            <p ng-bind-html="program.shortDescription | unsafe"></p>
            <p style="display: inline">
                <button class="btn btn-outline-primary btn-sm" ng-click="scrollTo('details')">View details</button>
                
                <div class="dropdown" style="display: inline" ng-if="versions && versions.length > 1">
                    <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button" id="versionDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Versions
                    </button>
                    <div class="dropdown-menu" aria-labelledby="versionDropdownMenuButton">
                        <a class="dropdown-item" href="{{project}}/{{program.source}}/{{version}}" ng-repeat="version in versions">
                            {{version}}
                        </a>
                    </div>
                </div>
            
            </p>
        </div>

        <!-- Parameters -->
        <div ng-show="program.parameters && program.parameters.length > 0">
            <h3>Parameters</h3>
            <div class="iledocs-module-subcontent">
                <div class="well">
                    <span class="text-info">{{program.source}}</span> (
                    <span ng-repeat="parameter in program.parameters">
                        {{parameter.type}} {{parameter.name}}
                        <span ng-if="!$last">,</span>
                    </span>
                    )
                </div>
            </div>
        </div>

        <!-- Files -->
        <div ng-show="program.files && program.files.length > 0">
            <h3>Files</h3>
            <table class="table table-sm iledocs-module-subcontent">
                <tr ng-repeat="file in program.files| orderBy: 'name'">
                    <td>{{file.name}}</td>
                    <td>{{file.description}}</td>
                </tr>
            </table>
        </div>

        <!-- Copybooks -->
        <div ng-show="program.includes && program.includes.length > 0">
            <h3>Includes</h3>
            <table class="table table-sm iledocs-module-subcontent">
                <tr ng-repeat="include in program.includes| orderBy">
                    <td>{{include}}</td>
                </tr>
            </table>
        </div>

        <!-- Constants -->
        <div ng-show="program.constants && program.constants.length > 0">
            <h3>Constants</h3>
            <table class="table table-sm iledocs-module-subcontent">
                <tr ng-repeat="constant in program.constants | orderBy:'name'">
                    <td>{{constant.name}}</td>
                    <td ng-bind-html="constant.description | unsafe"></td>
                </tr>
            </table>
        </div>
        
        <!-- Imported/Exported Variables -->
        <div ng-show="program.variables && program.variables.length > 0">
            <h3>Variables</h3>
            <table class="table table-sm iledocs-module-subcontent">
                <tr ng-repeat="variable in program.variables | orderBy:'name'">
                    <td>
                        <span ng-if="variable.imported" class="fas fa-download" title="import"></span>
                        <span ng-if="variable.exported" class="fas fa-upload" title="export"></span>
                    </td>
                    <td>
                        <span ng-if="variable.type === 'DataStructure'">
                            <span>{{variable.type}}</span>
                            <span ng-if="variable.like">
                                <span class="text-success">{{variable.like}}</span>
                            </span>
                        </span>

                        <span ng-if="variable.type && variable.type !== 'DataStructure'">
                            <span ng-if="variable.like">
                                <span class="text-success" title="{{variable.type}} ({{variable.length}})">{{variable.like}}</span>
                            </span>
                            <span ng-if="!variable.like">
                                <span ng-show="variable.type">{{variable.type}} </span>
                                <span ng-show="variable.length"> ({{variable.length}}) </span>
                                <span ng-if="variable.arraySize"> [{{variable.arraySize}}] </span>
                            </span>
                        </span> 
                    </td>
                    <td>
                        <span>{{variable.name}}</span>
                        <br ng-if="variable.description" />
                        <span class="text-secondary" ng-bind-html="variable.description | unsafe"></span>
                    </td>
                </tr>
            </table>
        </div>
        
        <!-- Procedures -->
        <div ng-show="program.procedures && program.procedures.length > 0">
            <h3>Procedures</h3>
            <table class="table table-sm iledocs-module-subcontent">
                <tr ng-repeat="procedure in program.procedures| orderBy: 'name'">
                    <td><a href="#" ng-click="scrollTo('procedure-' + procedure.name)">{{procedure.name}}</a></td>
                    <td>{{procedure.title}}</td>
                </tr>
            </table>
        </div>

        <hr/>

        <h3 id="details">Detailed Description</h3>
        <div class="iledocs-module-subcontent" ng-show="program.description" ng-bind-html="program.description | unsafe">
        </div>

        <div ng-show="program.parameters && program.parameters.length > 0">
            <h4>Parameters</h4>
            <div class="iledocs-module-subcontent">
                <div class="iledocs-module-subcontent">
                    <p ng-repeat="parameter in program.parameters">
                        <span ng-if="parameter.type === 'DataStructure'">
                            <span>{{parameter.type}}</span>
                            <span ng-if="parameter.like">
                                <span class="text-success">{{parameter.like}}</span>
                            </span>
                        </span>

                        <span ng-if="parameter.type && parameter.type !== 'DataStructure'">
                            <span ng-if="parameter.like">
                                <span class="text-success" title="{{parameter.type}} ({{parameter.length}})">{{parameter.like}}</span>
                            </span>
                            <span ng-if="!parameter.like">
                                <span ng-show="parameter.type">{{parameter.type}} </span>
                                <span ng-show="parameter.length"> ({{parameter.length}}) </span>
                                <span ng-if="parameter.arraySize"> [{{variable.arraySize}}] </span>
                            </span>
                        </span> 

                        <span ng-show="parameter.keywords && parameter.keywords.length > 0">
                            [ <samp ng-repeat="keyword in parameter.keywords">{{keyword}}<span ng-if="!$last">,</span></samp> ]
                        </span>
                        <span ng-show="parameter.type && (parameter.description || parameter.name)"> &mdash; </span>
                        {{parameter.description ? parameter.description : parameter.name}}
                    </p>
                </div>
            </div>
        </div>

        <div ng-show="program.author">
            <h4>Author</h4>
            <p class="iledocs-module-subcontent">{{program.author}}</p>
        </div>

        <div ng-show="program.date">
            <h4>Date</h4>
            <p class="iledocs-module-subcontent">{{program.date}}</p>
        </div>

        <div ng-show="program.links && program.links.length > 0">
            <h4>Links</h4>
            <div class="iledocs-module-subcontent">
                <div ng-repeat="link in program.links">
                    <a href="{{link.url}}">{{link.title ? link.title : link.url}}</a>
                </div>
            </div>
        </div>

        <div ng-show="program.infos && program.infos.length > 0">
            <h4>Info</h4>
            <div class="alert alert-info iledocs-module-subcontent" role="alert" ng-repeat="info in program.infos" ng-bind-html="info | unsafe">
            </div>
        </div>    

        <div ng-show="program.warnings && program.warnings.length > 0">
            <h4>Warning</h4>
            <div class="alert alert-warning iledocs-module-subcontent" role="alert" ng-repeat="warning in program.warnings" ng-bind-html="warning | unsafe">
            </div>
        </div>

        <div ng-show="program.deprecated">
            <h4>Deprecated</h4>
            <div class="alert alert-danger iledocs-module-subcontent" role="alert" ng-bind-html="program.deprecated | unsafe">
            </div>
        </div>

        <div ng-show="program.revisions && program.revisions.length > 0">
            <h4>Changes</h4>
            <div class="iledocs-module-subcontent">
                <p ng-repeat="revision in program.revisions">
                    <span ng-show="revision.date">{{revision.date}}</span>
                    <span ng-if="revision.author && revision.date">&mdash;</span>
                    <span ng-show="revision.author">{{revision.author}}</span>
                    <br/>
                    <span ng-show="revision.description" ng-bind-html="revision.description | unsafe"></span>
                </p>
            </div>
        </div>


        <!-- detailed procedure documentation -->
        <div ng-show="program.procedures && program.procedures.length > 0">
            <h3>Procedure Documentation</h3>

            <div ng-repeat="procedure in program.procedures| orderBy: 'name'">
            <h4 id="procedure-{{procedure.name}}">{{procedure.name}}</h4>
                <div class="iledocs-module-subcontent">
                    <div class="card">
                        <div class="card-header">
                            <span ng-if="procedure.returnValue.type && procedure.returnValue.like">
                                <span class="text-success">{{procedure.returnValue.like}}</span>
                            </span>
                            <span ng-if="procedure.returnValue.type && !procedure.returnValue.like">
                                <span class="text-success">{{procedure.returnValue.type}}</span>
                            </span>
                            <span ng-if="!procedure.returnValue.type">
                                <span class="text-success">void</span>
                            </span>
                            <span class="text-info">{{procedure.name}}</span> (
                            <span ng-repeat="parameter in procedure.parameters">
                                <span ng-if="parameter.like">{{parameter.like}} {{parameter.name}}</span>
                                <span ng-if="!parameter.like">{{parameter.type}} {{parameter.name}}</span>
                                <span ng-if="!$last">,</span>
                            </span>
                            )
                        </div>
                    </div>

                    <p ng-bind-html="procedure.description | unsafe"></p>

                    <div ng-show="procedure.parameters && procedure.parameters.length > 0">
                        <h5>Parameter:</h5>
                        <div class="iledocs-module-subcontent">
                            <p ng-repeat="parameter in procedure.parameters">
                                <span ng-if="parameter.type === 'DataStructure'">
                                    <span class="text-success">{{parameter.type}}</span>
                                    <span ng-if="parameter.like">
                                        <span class="text-success">{{parameter.like}}</span>
                                    </span>
                                </span>

                                <span ng-if="parameter.type && parameter.type !== 'DataStructure'">
                                    <span ng-if="parameter.like">
                                        <span class="text-success" title="{{parameter.type}} ({{parameter.length}})">{{parameter.like}}</span>
                                    </span>
                                    <span ng-if="!parameter.like">
                                        <span ng-show="parameter.type">{{parameter.type}} </span>
                                        <span ng-show="parameter.length"> ({{parameter.length}}) </span>
                                    </span>
                                </span>                            
                                <span ng-if="parameter.arraySize" title="array size / dimension"> [{{parameter.arraySize}}] </span>

                                <span ng-show="parameter.keywords && parameter.keywords.length > 0">
                                    <samp class="text-info" ng-repeat="keyword in parameter.keywords">{{keyword}}<span ng-if="!$last">,</span></samp>
                                </span>
                                <span ng-show="parameter.type && parameter.description"> &mdash; </span>
                                {{parameter.description}}
                            </p>
                        </div>
                    </div>

                    <div ng-show="procedure.returnValue && procedure.returnValue.type != null">
                        <h5>Return Value</h5>
                        <div class="iledocs-module-subcontent">
                            <p>
                                <span ng-if="procedure.returnValue.type === 'DataStructure'">
                                    <span ng-show="procedure.returnValue.type">{{procedure.returnValue.type}} </span>
                                    <span class="text-success" ng-show="procedure.returnValue.like">{{procedure.returnValue.like}} </span>
                                </span>
                                <span ng-if="procedure.returnValue.type !== 'DataStructure'">
                                    <span ng-if="procedure.returnValue.like">
                                        <span class="text-success" title="{{procedure.returnValue.type}} ({{procedure.returnValue.length}})">{{procedure.returnValue.like}}</span>
                                    </span>
                                    <span ng-if="!procedure.returnValue.like">
                                        <span ng-show="procedure.returnValue.type">{{procedure.returnValue.type}} </span>
                                        <span ng-show="procedure.returnValue.length"> ({{procedure.returnValue.length}}) </span> 
                                        <span ng-if="procedure.returnValue.arraySize"> [{{procedure.returnValue.arraySize}}] </span>
                                    </span>
                                </span>
                                <span ng-show="procedure.returnValue.type"> &mdash; </span>
                                <span ng-show="procedure.returnValue.description">{{procedure.returnValue.description}}</span>
                            </p>
                        </div>
                    </div>

                    <div ng-show="procedure.author">
                        <h5>Author:</h5>
                        <div class="iledocs-module-subcontent">
                            <p>{{procedure.author}}</p>
                        </div>
                    </div>

                    <div ng-show="procedure.date">
                        <h5>Date:</h5>
                        <div class="iledocs-module-subcontent">
                            <p>{{procedure.date}}</p>
                        </div>
                    </div>


                    <div ng-show="procedure.links && procedure.links.length > 0">
                        <h5>Links</h5>
                        <div class="iledocs-module-subcontent">
                            <div ng-repeat="link in procedure.links">
                                <a href="{{link.url}}">{{link.title ? link.title : link.url}}</a>
                            </div>
                        </div>
                    </div>

                    <div ng-show="procedure.infos && procedure.infos.length > 0">
                        <h5>Info</h5>
                        <div class="alert alert-info iledocs-module-subcontent" role="alert" ng-repeat="info in procedure.infos" ng-bind-html="info | unsafe">
                        </div>
                    </div>    

                    <div ng-show="procedure.warnings && procedure.warnings.length > 0">
                        <h5>Warning</h5>
                        <div class="alert alert-warning iledocs-module-subcontent" role="alert" ng-repeat="warning in procedure.warnings" ng-bind-html="warning | unsafe">
                        </div>
                    </div>

                    <div ng-show="procedure.deprecated">
                        <h5>Deprecated</h5>
                        <div class="alert alert-danger iledocs-module-subcontent" role="alert" ng-bind-html="procedure.deprecated | unsafe">
                        </div>
                    </div>

                    <div ng-show="procedure.revisions && procedure.revisions.length > 0">
                        <h5>Changes</h5>
                        <div class="iledocs-module-subcontent">
                            <p ng-repeat="revision in procedure.revisions">
                                <span ng-show="revision.date">{{revision.date}}</span>
                                <span ng-if="revision.author && revision.date">&mdash;</span>
                                <span ng-show="revision.author">{{revision.author}}</span>
                                <br/>
                                <span ng-show="revision.description" ng-bind-html="revision.description | unsafe"></span>
                            </p>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
    
</div>