<nav class="navbar navbar-default navbar-static-top navbar-expand-md navbar-dark bg-dark" role="navigation" ng-controller="NavbarController as navbarCtrl">
    <div class="navbar-header">
        <a class="navbar-brand" href="https://bitbucket.org/m1hael/iledocs">ILEDocs</a>
    </div>

    <form class="form-inline ml-auto" role="search">
        <input autofocus  id="searchInputField" class="form-control form-control-sm mr-sm-2" type="search" placeholder="Search term" ng-model="searchText" ng-keydown="$event.keyCode === 13 && navbarCtrl.search(searchText)" aria-label="Search">
        <button type="button" class="my-2 my-sm-0 btn btn-outline-primary" title="Suche starten" ng-click="navbarCtrl.search(searchText)"><span class="fas fa-search"></span></button>
    </form>  
</nav>

<div ng-include="'components/searchresult.html'"></div>