<!-- Modal -->
<div id="searchResultDialog" class="modal fade" id="searchResultDialog" ng-controller="SearchResultController as searchResultCtrl" tabindex="-1" role="dialog" aria-labelledby="searchResultDialogTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="searchResultDialogTitle">Search Result</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
            <nav class="navbar navbar-default bg-light">
                <div class="nav navbar-nav navbar-left">
                    <form class="form-inline" role="search">
                        <label id="labelSearchResultDialogInputField" for="searchResultDialogInputField">Search:</label>
                        <input id="searchResultDialogInputField" class="form-control form-control-sm mr-sm-2" type="search" placeholder="Search term" ng-model="searchText" ng-keydown="$event.keyCode === 13 && searchResultCtrl.search(searchText)" aria-label="Search">
                        <button type="button" class="btn btn-outline-primary my-2 my-sm-0" title="Start search" ng-click="searchResultCtrl.search(searchText)"><span class="fas fa-search"></span></button>
                    </form>            
                </div>
            </nav>
            
            <div class="modal-body">
                <div class="table-responsive"></div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td>Project</td>
                                <td>Source</td>
                                <td>Value</td>
                                <td>Type</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr bindonce ng-repeat="entry in searchResult.entries">
                                <td bo-text="entry.project"></td>
                                <td><a href="#" ng-click="searchResultCtrl.select(entry.project, entry.source)" bo-text="entry.source"></a></td>
                                <td bo-text="entry.value"></td>
                                <td bo-text="entry.type"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>